/*** Colors ***/
$light-blue: #66FCF1;
$dark-blue: #005c73;
$grey: #C5C6C7;
$dark-grey: #1F2833;
$blackish: #0B0C10;

/*** Fonts ***/
$body-text: 'Montserrat',
serif;
$header-text: 'IBM Plex Serif',
serif;

/*** Breakpoints ***/
$breakpoint-medium: 768px;
$breakpoint-small: 576px;