/*** Colors ***/
/*** Fonts ***/
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
    -webkit-transform: scale(0.7, 0.7);
            transform: scale(0.7, 0.7);
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
    -webkit-transform: scale(0.7, 0.7);
            transform: scale(0.7, 0.7);
  }
  to {
    opacity: 1;
  }
}

.fade-in-element {
  -webkit-animation: fade-in 1.4s;
          animation: fade-in 1.4s;
}

.hidden {
  opacity: 0;
}

html {
  scroll-behavior: smooth;
}

nav {
  font-family: "Montserrat", serif;
  border-bottom: 1px solid #C5C6C7;
  background-color: #0B0C10;
}

nav li {
  margin-bottom: 0px;
}

nav a {
  color: #C5C6C7;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

nav a:hover {
  color: #66FCF1;
}

h1, h3, h5 {
  font-family: "IBM Plex Serif", serif;
  color: #66FCF1;
}

hr {
  background-color: #0B0C10;
  margin: 0 0 2rem 0;
}

ul {
  margin-bottom: 0;
}

li {
  font-family: "Montserrat", serif;
  font-weight: 500;
  color: #C5C6C7;
  margin-bottom: 1rem;
}

a {
  color: #66FCF1;
}

p {
  font-family: "Montserrat", serif;
  font-weight: 500;
  color: #C5C6C7;
}

/*** Classes ***/
.intro-section {
  background: #C5C6C7;
  margin: auto;
}

.intro-section h1, .intro-section h3, .intro-section h5 {
  color: #005c73;
}

.intro-section p {
  color: #0B0C10;
}

.about-section {
  background: #1F2833;
}

.resume-section {
  background: #C5C6C7;
}

.resume-section h1, .resume-section h3, .resume-section h5 {
  color: #005c73;
}

.resume-section li {
  color: #0B0C10;
}

.content-container {
  margin: 0 auto;
  max-width: 1264px;
  padding: 100px;
}

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}

.contact-buttons-group {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-auto-flow: column;
  grid-column-gap: 20px;
}

.btn-contact {
  padding: 5px 0 5px;
  width: 100%;
  font-size: 18px;
  font-family: "Montserrat", serif;
  font-weight: bold;
  background-color: transparent;
  border: 1px solid #005c73;
  color: #C5C6C7;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  cursor: pointer;
}

.btn-contact:hover {
  background-color: #005c73;
  color: #0B0C10;
}

.job-details, .job-position {
  margin-bottom: 2rem;
}

.fade-in-section {
  opacity: 0;
  -webkit-transform: translateY(20vh);
          transform: translateY(20vh);
  visibility: hidden;
  -webkit-transition: opacity 0.6s ease-out, -webkit-transform 1.2s ease-out;
  transition: opacity 0.6s ease-out, -webkit-transform 1.2s ease-out;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out, -webkit-transform 1.2s ease-out;
  will-change: opacity, visibility;
}

.fade-in-section.is-visible {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
  visibility: visible;
}

/*** Mobile Adjustments ***/
@media (max-width: 767.98px) {
  .contact-buttons-group {
    display: block;
  }
  .btn-contact {
    margin-bottom: 2rem;
  }
}

@media (max-width: 991.98px) {
  .container-fluid {
    margin: 20px 0;
  }
  .content-container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (max-width: 1199.98px) {
  .container-fluid {
    margin-top: 0;
  }
}
/*# sourceMappingURL=main.css.map */