
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

@import '_base';
@import '_transitions';

@mixin body-font {
	font-family: $body-text;
	font-weight: 500;
	color: $grey;
}

html {
    scroll-behavior: smooth;
}

nav {
	font-family: $body-text;
	border-bottom: 1px solid $grey;
	background-color: $blackish;

	li {
        font-size: 20px;
        margin: 1rem .5rem;
	}

	a {
		color: $grey;
        transition-duration: 0.4s;
        font-family: $header-text;
	}

	a:hover {
		color: $light-blue;		
	}
}

h1, h2 {
	font-family: $header-text;
    color: $light-blue;
    font-weight: 600;
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 36px;
}

hr {
    background-color: $blackish;
    margin: 0 0 2rem 0;
}

ul {
    margin-bottom: 0;
}

li {
	@include body-font;
	margin-bottom: 1rem;
}

a {
	color: $light-blue;
}

p {
    @include body-font;
    font-weight: 500;
}

/*** Classes ***/
.main-logo {
    height: 100px;
}

.navbar-toggler {
    background-color: $grey;
}

.navbar-toggler-icon {
    color: $blackish;
}

.intro-section {
	background: $grey;
	margin: auto;

	h1, h2, h5 {
		color: $dark-blue;
	}

	p {
		color: $blackish;
	}
}

.about-section {
    background: $dark-grey;
}

.resume-section {
    background: $grey;

    h1, h3, h5 {
        color: $dark-blue;
	}

    li {
        color: $blackish;
    }
}

.contact-section {
    background: $blackish;
}

.content-container {
	margin: 0 auto;
	max-width: 1264px;
	padding: 100px;
}

.container-fluid {
	padding-right: 0px;
	padding-left: 0px;
}

.buttons-group {
	justify-content: space-around;
	display: flex;
	grid-auto-flow: column;
	grid-column-gap: 20px;
}

.btn {
    padding: 5px 0 5px;
	width: 100%;
	font-size: 18px;
	font-family: $body-text;
	font-weight: bold;
	background-color: transparent;
	border: 1px solid $dark-blue;
	transition-duration: 0.4s;
	cursor: pointer;
}

.btn-contact {
	color: $grey;
}

.btn-contact:hover {
	background-color: $dark-blue;
	color: $blackish;
}

.btn-job {
	color: $blackish;
}

.btn-job:hover {
	background-color: $dark-blue;
	color: $grey;
}

.job-details, .job-position {
	margin-bottom: 2rem;
}

.fade-in-section {
    opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 0.6s ease-out, transform 1.2s ease-out;
    will-change: opacity, visibility;
}

.fade-in-section.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
}

.main-logo img {
    height: 100px;
    padding: 0 1rem;
}

.nav-link {
    margin: 0 auto;
}

#scrollToTopBtn {
    background-color: black;
    border: none;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-size: 16px;
    line-height: 48px;
    width: 48px;
  }

/*** Mobile Adjustments ***/

@include media-breakpoint-down(sm) {
    .buttons-group {
        display: block;
    }

    .btn {
        margin-bottom: 2rem;
    }
}

@include media-breakpoint-down(md) {
    .container-fluid {
        margin: 20px 0;
    }

    .content-container {
        padding-left: 2rem;
        padding-right: 2rem;
    }   
}

@include media-breakpoint-down(lg) {
    .container-fluid {
        margin-top: 0;
        margin-bottom: 0;
    }
}


